.Loading {
    position: fixed;
    opacity: 1;
    z-index: 15;
    background-color: rgba(39, 39, 39, 1);
    overflow: hidden;
    animation: disappear 1s ease forwards 2s;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes lineAnim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes disappear {
    to {
        opacity: 0;
        z-index: 0;
    }
}

@media screen and (max-width:1000px) and (min-width:800px) {
    .logo {
        width: 500px;
        height: 200;
    }
}

@media screen and (max-width:800px) {
    .logo {
        width: 300px;
        height: 100px;
    }
}