.Contact {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 0;
    position: relative;
    min-height: 100vh !important;
    height: fit-content;
    padding-bottom: 10px;

}

h2 {
    padding: 80px 0;
    padding-bottom: 20px;
    margin: 0 auto;
    width: fit-content;
}

.form {
    margin: 0 auto;
    background-color: white;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    padding: 20px;
    justify-content: space-between;
    border-radius: 5px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Contact__Form_inputLine {
    position: relative;
    margin: 20px auto;
    width: 60%;
}


.form__input--message {
    flex: 1;
    border: 1px solid black !important;
    height: 300px
}

.form>button {
    margin-top: 20px;
    color: white;
    background-color: rgb(39, 39, 39);
    padding: 15px 0;
    font-size: 20px;
    border: none;
}

.form>button:hover {
    opacity: 0.9;
}

.contact__icons {
    display: flex;
    font-size: 25px;
    width: 100%;
    justify-content: center;
}

.contact__icon--container {
    position: relative;
    height: 34px;
    width: 34px;
    margin: 0 10px;
    border-radius: 100%;
    border: 1px solid black;
    overflow: hidden;
    padding: 0;
}

.contact__icon--black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 100%;
    color: white;
    background-color: black;
    padding: 5px;
}

.contact__icon {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    color: black;
    padding: 5px;
    z-index: 5;
    transition: all 0.4s;
}

.contact__icon--black:hover~.contact__icon {
    transform: translate(-50%, -50%) scale(1);
}

.contact__icon:hover {
    transform: translate(-50%, -50%) scale(1);
}

/*for ipad*/
@media screen and (max-width:1000px) and (min-width:800px) {
    .form {
        width: 50%;
    }

    .form__input>textarea {
        min-height: 100px;
        max-height: 1000px;
    }
}

@media screen and (max-width:800px) {
    .form {
        width: 80%;
    }
}