.Contact {
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/518/363/original/abstract-background-dark-and-black-overlaps-004-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: 0;
    position: relative;
    min-height: 100vh !important;
    height: fit-content;
    padding-bottom: 10px;

}

.Contact>h2 {
    padding-top: 90px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: fit-content;

}

.form {
    margin: 0 auto;
    margin-bottom: 0;
    background-color: white;
    color: rgb(39, 39, 39);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content;
    padding: 20px;
    justify-content: space-between;
    border-radius: 5px;
}

.form__input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__textField {
    height: fit-content;
    margin: 20px 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}

.form__textField>input,
.form__input>textarea {
    width: calc(100% - 10px);

    border: none;
    font-size: 20px;
    padding: 5px;

}

.form__input>textarea {
    margin: 20px 0;
    font-family: 'Mulish', sans-serif;
    min-height: 50px;
    max-height: 500px;
}

.form__input>textarea:focus {
    outline: 1px solid black;
}

.form__textField>input:focus {
    outline: none;
}

.form__textField::before {
    content: '';
    position: absolute;
    top: 99%;
    left: 0;
    height: 0.5px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.form__textField--border {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: rgb(51, 51, 51);
    transition: all 0.4s;
    transform: translateX(-100%);
}

.form__textField>input:focus~.form__textField--border {
    transform: translateX(0);
}

.form__input--message {
    flex: 1;
    border: 1px solid black !important;
    height: 300px
}

.form>button {
    margin-top: 20px;
    color: white;
    background-color: rgb(39, 39, 39);
    padding: 10px 0;
    font-size: 20px;
    border: none;
}

.form>button:hover {
    opacity: 0.9;
}

.contact__icons {
    display: flex;
    font-size: 25px;
    width: 100%;
    justify-content: center;
}

.contact__icon--container {
    position: relative;
    height: 34px;
    width: 34px;
    margin: 0 10px;
    border-radius: 100%;
    border: 1.5px solid black;
    overflow: hidden;
    padding: 0;
}

.contact__icon--black {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border-radius: 100%;
    color: white;
    background-color: black;
    padding: 5px;
}

.contact__icon {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    color: black;
    padding: 5px;
    z-index: 5;
    transition: all 0.4s;
}

.contact__icon--black:hover~.contact__icon {
    transform: translate(-50%, -50%) scale(1);
}

.contact__icon:hover {
    transform: translate(-50%, -50%) scale(1);
}

/*for ipad*/
@media screen and (max-width:1000px) and (min-width:800px) {
    .form {
        width: 50%;
    }

    .form__input>textarea {
        min-height: 100px;
        max-height: 1000px;
    }
}

@media screen and (max-width:800px) {
    .form {
        width: 80%;
    }
}