.AboutMe {
    padding: 0;
}

.tab_container {
    padding-top: 100px;
    margin-left: 50px;
}

.tabs {
    display: flex;
    font-size: 20px;
}

.tab {
    border: 1px solid white;
    border-radius: 2px;
    border-top-right-radius: 12px;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.tab_active {
    color: rgba(39, 39, 39, 1);
    background-color: white;
}

.tab_active:hover {
    color: rgb(39, 39, 39);
    background-color: white;
}

.tabs__content__container {
    width: calc(100% - 50px);
    height: calc(100vh - 150px);
    color: rgb(39, 39, 39);
}

.tab__content {
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    height: fit-content;
    padding-bottom: 20px;
    width: 100%;

}

.tab__content--active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section {
    padding: 0 50px;
    width: 100%;
    margin: 20px 0;
}

.section>p {
    width: fit-content;
    font-size: 25px;
    padding: 5px 0;
    margin: 15px;
    position: relative;
}

.section__p--bottom {
    position: absolute;
    top: 90%;
    left: 0;
    background-color: rgb(39, 39, 39);
    width: 0;
    height: 2px;
    transition: all 0.8s;
}

.section__content {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.icon {
    font-size: 50px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.2s;

}

.skill--education {
    flex-direction: row;
    font-size: 18px;
}

.skill--education h5 {
    font-size: 18px;
}

.skill--education>img {
    height: 100px;
}

.skill--education_content {
    margin-left: 10px;
}

.skill-addition {
    align-items: flex-start;
    width: 100%;
    font-size: 18px;
}

.skill-addition>p {
    width: calc(100% - 90px);
}

.skill-addition>ol {
    margin: 20px;
}

@media screen and (max-width:1000px) and (min-width:800px) {
    .tab_container {
        margin-top: 20px;
        margin-left: 0px;
    }

    .tabs {
        margin-left: 10%;
        font-size: 18px;
    }

    .tab {
        width: 100px;
        padding-left: 0;
    }

    .tabs__content__container {
        width: 80%;
        margin: 0 auto;
    }

    .tab__content {
        height: fit-content;
        padding-bottom: 30px;
        font-size: 20px;
    }

    .section {
        padding: 20px 0;
        height: auto;
    }

    .section>p {
        margin: 10px 15px;
        font-size: 30px;
    }

    .section__content {
        height: 100%;
        width: fit-content;
        margin: 20px auto;
        justify-content: center;
        text-align: center;
    }

    .skill {
        margin: 0 10px;
        font-size: 20px;
    }
}

@media screen and (max-width:800px) {
    .tab {
        width: calc((100% - 40px)/3);
        padding-left: 0;
    }

    .tab_container {
        margin-top: 20px;
        margin-left: 0px;
    }

    .tabs {
        margin-left: 20px;
        font-size: 18px;
    }

    .tabs__content__container {
        width: 100%;
    }

    .tab__content {
        height: fit-content;
        padding-bottom: 30px;
    }

    .section {
        padding: 0;
        height: auto;
    }

    .section>p {
        margin: 10px 15px;
        font-size: 20px;
    }

    .section__content {
        height: 100%;
        width: fit-content;
        justify-content: center;
        text-align: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .skill {
        margin: 0 10px;
    }
}