.link {
    height: fit-content;
    margin: 5px 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.69);
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.4s;
}

.link_located {
    color: rgba(89, 41, 248, 1);
    border: 1px solid rgba(89, 41, 248, 1)
}

.link:hover {
    color: rgba(89, 41, 248, 1);
}

@media screen and (max-width:1000px) {
    .burger {
        height: 2px;
        width: 100%;
        background-color: rgb(219, 219, 219);
        transition: all 0.6s;
    }

    .burger__first {
        transform: rotate(-25deg) scaleX(-50%) translate(20px, 0px);
        background-color: rgb(219, 219, 219);
    }

    .burger__second {
        background-color: rgb(219, 219, 219);
    }

    .burger__third {
        transform: rotate(25deg) scaleX(-50%) translate(20px, 0px);
        background-color: rgb(219, 219, 219);
    }

    .link {
        margin: 15px 0;
        color: #b4b4b4;
        transition: all 0.4s;
        animation-name: linkStart;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        transform: translateX(-100px);
    }

    .link_on {
        color: rgb(255, 255, 255);
    }

    @keyframes linkStart {
        0% {
            transform: translateX(-100px)
        }

        100% {
            transform: translateX(10px);
        }
    }

    .link_located {
        color: white;
        border: none;
    }

    .link:hover {
        color: rgb(255, 255, 255);
    }
}