.project__showMore {
    font-weight: 400 !important;
    text-decoration: underline;
    cursor: pointer;
}

.Projects__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    font-size: 25px;
    transform: translate(0, -50%) scale(1);
    transition: all 0.4s;
    height: 50px;
    width: 50px;
    background-color: rgba(212, 212, 212, 0.3);
    border-radius: 50%;
    z-index: 2;
}

.Projects__btn__container:hover {
    transform: translate(0, -50%) scale(1.2);
    background-color: rgba(212, 212, 212, 0.8);
}

.Projects__btn__container--Pre {
    left: 30px;

}

.Projects__btn__container--Next {
    right: 30px;
}

.slider__container {
    position: absolute;
    flex-direction: row;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 80%;
    height: fit-content;
    overflow-x: hidden;
    transform: translate(-50%, -50%);
    display: flex;
}

.slider {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project__container {
    width: calc(80vw / 3);
    font-size: 20px;
}

.project {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    border-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.project__content {
    height: 200px;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 18px;
}

.project__content>p,
.project__content>div {
    color: rgb(94, 94, 94);
}

.project__content>p {
    width: 90%;
    margin: 0 auto;
}

.project__content--name {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 !important;
    color: rgb(39, 39, 39) !important;
}

.project__buttons {
    margin: 15px 0 !important;
    display: flex;
    justify-content: space-evenly;
}

.project__buttons>a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    border: 1px solid rgb(94, 94, 94);
    padding: 8px 13px;
    border-radius: 2px;
}

.project__buttons>a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.slider__dots {

    position: absolute;
    top: calc((100vh - 400px) / 2 + 400px + 30px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.slider__dot {
    height: 10px;
    width: 10px;
    background-color: rgba(243, 243, 243, 0.6);
    margin: 0 5px;
    border-radius: 100%;
    cursor: pointer;
}

.slider__dot--active {
    background-color: rgba(243, 243, 243, 1);
}

/*for tablet*/
@media screen and (max-width:1000px) and (min-width:800px) {

    .slider__container {
        width: 50vw;
    }

    .project__container {
        width: 50vw;
    }

    .project>a {
        margin: 5px 0;
    }

    .slider__dots {
        display: flex;
        top: calc((100vh - 400px) / 2 + 400px + 40px);
    }
}

/*for phone*/
@media screen and (max-width:800px) {
    .Projects__btn__container {
        border: 1px solid rgb(39, 39, 39);
        color: rgb(39, 39, 39);
    }

    .project__container {
        width: 80vw;
    }

    .project>a {
        margin: 5px 0;
    }

    .slider__dots {
        display: flex;
    }
}